{% extends "blogi/base.html" %}
{% block content %}
{% for obj in search %}
<article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="{% url 'users-profile' obj.user.id %}">
              <img class="rounded article-img" src="{{ obj.user.profile.image.url }}">
              <h4>{{ obj.user }}</h4>
              </small>
            </a>
            </div>

        </article>
{% endfor %}
{% endblock content %}